<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextFieldResponder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D5616901F9071C1001A23D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5616A41F9071C2001A23D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5616AF1F9071C2001A23D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
